body{
    --card-width: 200px;
    /* line-height: 8px; */
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: var(--card-width);
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    transition: box-shadow .2s;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);

    
}

.card:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .2); 
}

.imgDiv{
    height: var(--card-width);
        width: var(--card-width);
    display: flex;
    align-items: center;
        justify-content: center;
}

.image{
    height: var(--card-width);
    width: var(--card-width);
    object-fit: cover;
    
}
.text{
    background-color: white;
    padding: 15px;
    padding-top: 0;
}

p{
    color: black;
}