.personDescription{
    width: 100%;
    background-color: #ddd;
    padding: clamp(10px, var(--block-padding), 5%);
}
.CVDescription{
    padding: clamp(10px, var(--block-padding), 5%);
}

.CVImage{
    height: 400px;
    max-width: 100%;
    object-fit: contain;
    /* margin-bottom: calc( -1 * var(--block-padding)); */
    /* background-color: red; */
}

.CV{
    width: 100%;
    height: 500px;
}
.fullWidthDiv{
    width: 100%;
}

.CVType{
    line-height: 80px;
    color: var(--text-color);
}

.CVDate {
    line-height: 3px;
    color: var(--text-color);
}

.CVTitle{
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: var(--text-color);
}

.CVWork{
    line-height: 3px;
    color: var(--text-color);
}