.animatedCard{
    z-index: 0 !important;
    border-radius: var(--rounded-elements)
    /* background-color: red; */
}

.animatedCard:hover{
    z-index: 1 !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
}