.card-carousel-div {
    width: 100%;
    padding-top: var(--block-padding);
    padding-bottom: 0px;
}

.carousel {
    cursor: grab;
    padding: 20px;
    cursor: pointer;
}

.testimonial-group>.row {
    flex-wrap: nowrap;

}

.titleImage {
    max-width: 90%;
    height: 70px;
    object-fit: contain;
    margin-bottom: 20px;
}

