body {
    /* Variables */
    --primary-color: #ddd;
    --footer-color: #222;
    --text-color: #555;

    --site-width: 1000px;
    --block-padding: 80px;

    max-width: 100%;
    overflow-x: hidden;

    margin: 0;
    padding: 0;
    left: 0;

    font-family: -apple-system, BlinkMacSystemFont, 'Montserrat''Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.site-width {
    width: 100%;
    max-width: var(--site-width);
    display: block;
}

.block-padding{
    padding-top: var(--block-padding);
    padding-bottom: var(--block-padding);
}

.col-width {
    width: 90vw;
    max-width: 500px;
    background-color: red;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    font-weight: normal;
    line-height: 24px;
    color: var(--text-color)
}

b {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    font-weight: bold;
    line-height: 24px;
    color: var(--text-color);
}

h1 {
    font-size: 60px;
    font-family: 'Montserrat';
    font-weight: 800;
}

h2 {
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: 600;
}

h3 {
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 800;
}

h4 {
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 400;
}

.btn-link {
    color: black !important;
    text-decoration: none !important;
}
.btn-link:focus{
    background-color: var(--primary-color);
    outline: none !important;
        box-shadow: none;
}

.btn-secondary {
    color: black !important;
    background-color: rgba(0, 0, 0, 0.15) !important;
    border-width: 0 !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}